// Setup
@import 'partials/reset';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/helpers';

* {
  @include box-sizing();
}

@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

html {
  font-size: 100%;
  background: $color-background;
}

body {
  min-width:252px;
  width : 100%;
  font-family: $sans-serif;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection { background: $color-text-select; color: $color-text-inverse; text-shadow: none; }
::selection { background: $color-text-select; color: $color-text-inverse; text-shadow: none; }

// Parts
@import 'partials/typography';
@import 'partials/links';
@import 'partials/buttons';

// Content
@import 'partials/header';
@import 'partials/alerts';
@import 'partials/fweets';
@import 'partials/footer';

// Print
@import 'partials/print';
